<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% block title %}SmarTest{% endblock %}</title>

  <link rel="stylesheet" href="/frontend/styles.css" />

  {% block head %}{% endblock %}
</head>

<body>
  {% include "partials/header.html" %}

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  {% include "partials/footer.html" %}

  {% block scripts %}{% endblock %}
</body>
</html>
