/* Frontend/styles.css (ENTRY POINT) */
/* IMPORTANT: keep this path the same so old HTML links still work */

@import url("./css/00-reset.css");
@import url("./css/01-typography.css");
@import url("./css/02-layout.css");
@import url("./css/03-cards.css");
@import url("./css/04-topbar.css");
@import url("./css/05-forms-buttons.css");
@import url("./css/06-catalog.css");
@import url("./css/07-question.css");
@import url("./css/08-details-json.css");
@import url("./css/09-responsive.css");
@import url("./css/10-app-shell.css");
@import url("./css/11-home.css");